.list-wrapper {
    width: 45vw;
}


@media(max-width: 468px) {
    .list-wrapper {
        width: 90vw;
    }
    .list-question-div {
        font-size: 20px;
        font-weight: 660;
    }    
    .list-answer-div {
        font-size: 18px;
    }
}