.add-question-logo-image {
    width: 130px;
    margin-left: 75px;
    background-color: white;
}

.add-question-logo-image-wrapper {
    width: 100vw;
    background-color: white;
}

.add-question-heading {
    color: grey;
    padding: 3px 7px;
}

.add-question-input-field {
    width: 80vw;
    font-size: 19px;
    padding-left: 15px;
    border: none;
    outline: none;
}

.add-question-input-wrapper {
    display: flex;
    margin: 0 101px;
    margin-top: 50px;
    background-color: white;
}

::placeholder {
    color: black;
}

.add-question-flag {
    font-size: large;
    color: red;
    display: flex;
    justify-content: flex-start;
    margin: 15px 101px;
}

.add-question-buttons {
    display: flex;
    justify-content: flex-end;
    margin: 15px 101px;
}

.add-question-cancel-button {
    margin: 0 15px;
}

@media(max-width: 700px) {
    .add-question-input-wrapper {
        flex-direction: column;
        margin: 0 50px;
        margin-top: 50px;
    }
    .add-question-input-field {
        width: 100%;
        padding-bottom: 20px;
    }
    .add-question-flag {
        margin: 15px 50px;
    }    
    .add-question-buttons {
        margin: 15px 50px;
    }
}