
.main-inner-wrapper {
    min-height: 100vh;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(226, 224, 224);
}

@media(max-width: 468px) {
    .main-inner-wrapper {
        flex-direction: column;
        align-items: center;
    }  
}