.qheader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.5);
}

.qheader_logo img {
    height: 30px;
    margin-right: 20px;
}

.qheader_icons{
    display: flex;
    margin-right: 20px;
}

.qheader_icon {
  color: grey;
  cursor: pointer;
  font-size: 28px ;
  padding: 5px 20px;
}

.qheader_icon:hover{
    color: #8f1f1b;
    border-radius: 10px;
    background-color: lightgray; 
}

.qheader_search {
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 7px;
    border-radius: 5px;
    color: grey;
}

.qheader_search_icon {
    display: flex;
    font-size: 18px;
}

.qheader_search input {
    width: 20vw;
    font-size: 14px;
    background-color: transparent;
    outline: none;
    border: none;
    color: rgba(49, 49, 49);
}

.qHeader_rem{
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.qHeader_rem_avatar {
    /* display: flex; */
    margin: 5px 0;
    cursor: pointer;
    font-size: xx-large;
    color: grey;
    border-radius: 5px;
    padding: 2px 15px;
    /* margin: 0 10px; */
}
.qHeader_rem_avatar:hover {
  color: #8f1f1b;
  background-color: lightgray;
}

.qHeader_rem_language {
    /* display: flex; */
    margin: 5px 0;
    cursor: pointer;
    font-size: xx-large;
    color: grey;
    border-radius: 5px;
    padding: 2px 15px;
    /* margin: 0 10px; */
}

.qHeader_rem_language:hover {
    color: #8f1f1b;
    background-color: lightgray;
}

.navbar_addQuestion {
    color: white;
    border: none;
    margin-left: 20px;
    padding: 10px 25px;
    border-radius: 15px;
    font-size: medium;
    background-color: #b12924;
}

.navbar_addQuestion:hover {
    cursor: pointer;
    background-color: #8f1f1b;
}

.modal-title {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(187, 187, 187, 0.5);
}
.heading{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}
.heading > h5{
  color: gray;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 30px;
}

.heading > h5:hover{
 color: #b92b27;
}

.modal-info{
 display: flex;
 align-items: center;
 margin-top: 30px;
}

.modal-info > p{
  margin-left: 10px;
  font-size: small;
  color: gray;
}

.modal-info > .modal-scope{
  display: flex;
  align-items: center;
  color: rgb(98, 98, 98);
  padding: 5px;
  margin-left: 10px;
  background-color: rgb(230, 230, 230);
  border-radius: 33px;
  cursor: pointer;
}

.modal-field{
 display: flex;
  flex-direction: column;
  margin-top: 30px;
  flex: 1;
}

.modal-field > .modal-fieldLink{
  color: gray;
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.modal-field > .modal-fieldLink > input {
  flex: 1;
  border: none;
  outline: none;
  margin-left: 5px;
}

.modal-btn{
  display: flex;
  align-items: center;
  margin-top: 242px;
  margin-right: -20px;
  border-top: 1px solid lightgray;
}

.modal-btn > .cancle {
  margin-left: auto;
  border: none;
  margin-top: 5px;
  outline: none;
  color: gray;
  font-weight: 500;
  padding: 10px;
  margin-right: 10px;
  border-radius: 33px;
  cursor: pointer;
}

.modal-btn > .add {
 border: none;
  outline: none;
  margin-top: 5px;
  background-color: rgb(0, 64, 255);
  color: white;
  font-weight: 700;
  padding: 10px;
  margin-right: 10px;
  border-radius: 33px;
  cursor: pointer;
}