.footer-container {
    height: 15vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(48, 47, 47);
}


@media (max-width: 468px) {
    .footer-contactus-wrapper {
        font-size: small;
    }
    .footer-copyright-wrapper {
        font-size: small;
    }
    .footer-container {
        flex-direction: column;
    }
}

@media (min-width: 469px) and (max-width: 768px) {
    .footer-contactus-wrapper {
        font-size: small;
    }
    .footer-copyright-wrapper {
        font-size: small;
    }
}