
.add-answer-container {
    display: flex;
    margin: 25px 50px;
}

.select-question {
    width: 30vw;
    height: 50vh;
    padding: 10px 20px;
    margin-right: 25px;
    background-color: white;
    overflow: auto;
}

.answer {
    width: 60vw;
    height: 50vh;
    padding: 20px;
    margin-left: 25px;
    background-color: white;
}

.answer-heading {
    font-size: 22px;
    font-weight: 600;
    color: grey;
}

.answer-input-field {
    width: 100%;
    padding: 5px;
    height: 75%;
    border: none;
    font-size: 18px;
    word-wrap: wrap;
}

.selected-question {
    font-size: larger;
    font-weight: 500;
}

.add-answer-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.add-answer-cancel-button {
    margin-right: 15px;
}

.list-of-questions {
    color: blue;
    cursor: pointer;
}

.list-of-questions:hover {
    text-decoration: underline;
}

@media(max-width: 700px) {
    .add-answer-container {
        margin: 25px 0;
        flex-direction: column;
        align-items: center;
    }
    .select-question {
       width: 80vw;
       margin-right: 0px;
    }
    .answer {
        width: 80vw;
        margin-left: 0px;
        margin-top: 25px;
    }
    .add-answer-buttons-wrapper {
        display: flex;
        justify-content: center;
        width: 80vw;
        margin: auto;
    }
    .add-answer-buttons {
        padding-bottom: 25px;
    }
}