.questionlist-wrapper {
    width: 30vw;
    padding: 0 15px;
    margin-bottom: 25px;
    background-color: white;
}

.questions-list {
    color: rgb(37, 73, 235);
}

@media(max-width: 468px) {
    .questionlist-wrapper {
        width: 90vw;
    }
}