.login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 70vw;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.logo-image {
    width: 100%;
    height: auto;
}

.login-logo-image {
    width: 200px;
}

.login-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.login-buttons {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

label {
    width: 100px;
    margin: 15px 0;
    font-size: large;
    font-weight: 600;
}

.btn-login-page {
    width: 150px;
}

.input-field-login {
    width: 300px;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    background-color: rgb(226, 224, 224);
    outline: none;
}

::placeholder {
    color: grey;
}

.register-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

@media(max-width: 768px) {
    .login-container {
        padding: 15px;
        text-align: center;
    }
    .login-logo-image {
        width: 130px;
    }
    .login-container h5 {
        font-size: 18px;
    }
    .login-username label,
    .login-password label {
        display: none;
    }
    .input-field-login {
        width: 60vw;
        margin: 10px 0;
    }
}